# Исключения из содержимого, передаваемого сборщику образов.
#
# Назначение двоякое. Во-первых, объём передаваемого содержимого
# сокращается, и сборка ускоряется. Во-вторых, результаты сборки,
# выполненной на машине разработчика под управлением Windows,
# не попадают в образ и не смешиваются с результатами сборки внутри
# контейнера под управлением Linux.

**/bin/
**/obj/
**/.vs/
**/logs/
*.user
*.log
